main {
  margin-top: 7%;
}

section {
  margin-top: 17vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 80vw; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
  gap: 2vw; /* Space between items */
  position: relative;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1vw;
  box-sizing: border-box;
  position: relative;
}

.grid-item img {
  width: 100%;
  height: auto;
  margin-bottom: 1vw;
}

.grid-item p {
  font-size: min(20px, 2vw);
  text-align: center;
}

/* Horizontal line */
.grid-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #d8b35c;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

/* Vertical line */
.grid-container::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background: #d8b35c;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.grid-container a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 1%;
  border-radius: 5px;
  background-color: #d8b35c;
}

.grid-container a:hover {
  color: black;
}

.reserver {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  padding: 20px;
  margin-bottom: 10px;
  width: 100%;
  margin: auto;
}

h2 {
  margin-top: 0;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select,
textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

button {
  background-color: #d8b35c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  background-color: #000000;
}

footer {
  margin-top: 5%;
}
