header + video {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}

.Presentation {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 40px;
  background-color: black;
  color: white;
  text-align: center;
}
.Presentation h2 {
  text-align: center;
}

hr {
  border: 1px solid wheat;
  width: 70%;
  text-align: center;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
  gap: 70px;
  margin-top: 30px;
}

.image {
  width: 25%;
  height: auto;
  margin-left: 25%;
}

.Presentation {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 40px;
  background-color: black;
  color: white;
  text-align: center;
}
.Presentation h2 {
  text-align: center;
  color: #ffffff;
}

.section-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2vw 0;
}

.section-content,
.content-image {
  width: 40vw;
  height: auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1vh;
  box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.1);
}

.section-content {
  padding: 2vw;
  box-sizing: border-box;
}

.section-content h2 {
  text-align: center;
  font-size: min(20px, 2vw);
  margin-bottom: 2vh;
  text-decoration: underline 2px #d8b35c;
}

.section-content p {
  font-size: min(20px, 2vw);
  text-align: justify;
}

.content-image {
  border-radius: 0.5vh;
  box-shadow: 0.2vh 0.2vh 0.6vh rgba(0, 0, 0, 0.1);
}

/* alterner à droite/à gauche Collbaoriation et Services*/

.section-container:nth-child(odd) {
  flex-direction: row;
}

.section-container:nth-child(even) {
  flex-direction: row-reverse;
}

.section-container .content-image,
.section-container .section-content {
  margin: 0 3vw;
}

.texte {
  width: 20%;
}

.learn-more {
  text-decoration: none;
  color: #000;
  font-size: min(20px, 2vw);
  display: flex;
  align-items: center;
}

.learn-more:hover {
  text-decoration: underline;
}

.arrow:hover {
  text-decoration: none;
}

.learn-more:hover .arrow {
  margin-left: 0.25vw; /* Espace entre le texte et la flèche lors du survol */
  transition: margin 0.2s ease-in-out;
}

.arrow {
  display: inline-block;
  font-size: min(20px, 2vw);
  margin-left: 0.1vw;
  transform: rotate(
    -45deg
  ); /* Faire pivoter la flèche pour qu'elle pointe vers le haut à droite */
}

/*Défilement des images*/
.carousel-container {
  margin-top: 5vh;
  margin-bottom: 5vh;
  overflow: hidden;
  width: 100%;
  height: 600px;
  position: relative;
}

.carousel {
  display: flex;
  width: calc(200%);
  animation: scroll 30s linear infinite;
}

.carousel-item {
  flex: 1 0; /* Ajusté pour tenir compte des images dupliquées */
  width: 100%;
  box-sizing: border-box;
  margin-right: 30px;
}

.carousel-item img {
  width: 240px;
  display: block;
  margin-top: 30px;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-2970px);
  }
}
